@using Model;
<div id="layoutSidenav_nav">
    @{ usercgv user = (usercgv)Session["usr"];}
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">

                <a class="nav-link" href="/admin/home">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Bảng điều khiển
                </a>
                @if (user.role_id == 1)
                {
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                       data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Quản lý Phim
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/admin/loaiphim">Thể loại </a>
                            <a class="nav-link" href="/admin/film">Thông tin</a>
                            <a class="nav-link" href="/admin/lichchieu">Lịch chiếu</a>
                            <a class="nav-link" href="/admin/suatchieu">Suất chiếu</a>
                            <a class="nav-link" href="/admin/room">Phòng chiếu</a>
                            <a class="nav-link" href="/admin/ghe">Ghế ngồi</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                       aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Bài viết
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/admin/loaibv">Thể loại </a>
                            <a class="nav-link" href="/admin/baiviet">Thông tin</a>
                        </nav>
                    </div>
                    <a class="nav-link" href="/admin/user">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Người dùng
                    </a>

                    <a class="nav-link" href="/admin/booking">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Booking
                    </a>

                }
                else
                {
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                       aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Bài viết
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                         
                            <a class="nav-link" href="/admin/baiviet">Thông tin</a>
                        </nav>
                    </div>
                    <a class="nav-link" href="/admin/booking">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Booking
                    </a>
                }
            </div>
        </div>

    </nav>
</div>