
@{
    ViewBag.Title = "PaymentError";
    Layout = "~/Views/MyLayout/_LayoutUser.cshtml";
}

<div style="margin-top:100px">
" />
    <div style="display:flex; flex-direction:column ;width:500px;margin:0 auto;align-content:center;justify-items:center;justify-content:center;align-items:center">
        <h1 style="color:red;margin-bottom:10px">Payment Error!!!</h1>
        
    </div>


</div>
